* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

body {
    display:inline;
    width: 100%;
    height: 100vh;
    background-color: rgb(21, 19, 19);
    padding: 1px;
}

.Home, h1 {
    color: white;
    text-decoration: none;
}

.Link {
    color: rgb(152, 151, 151);
    text-decoration: none;
}


#dropdown {
    background-color: black;
    color: rgb(152, 151, 151);
    padding: 1PX;    
}
 
.Disabled {
    color: rgb(76, 72, 72);
    text-decoration: none;
}

.invia {
    background-color: rgb(17, 18, 18);
    color: green;
    border: solid;
    padding: 1px;
}