* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photo1, .photo2, .photo3 {
    width: 200px; /* Larghezza per desktop */
    background-color: #3498db; /* Colore di sfondo per desktop */
    float: left; /* Posizionamento a sinistra */
    margin: 10px; /* Spazio tra le immagini */
    text-align: center;
}
  
  /* Stile tablet */
@media (max-width: 768px) {
    .photo1, .photo2, .photo3 {
      width: 200px; /* Larghezza per tablet */
      background-color: #e74c3c; /* Colore di sfondo per tablet */
    }
}
  
/* Stile mobile */
@media (max-width: 375px) {
    .photo1, .photo2, .photo3 {
      width: 200px; /* Larghezza per mobile */
      background-color: #27ae60; /* Colore di sfondo per mobile */
    }
}