* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.risulatato {
    grid-area: risultato;
}

.più {
    grid-area: piu;
}

.meno {
    grid-area: meno;
}

.per {
    grid-area: per;
}

.diviso {
    grid-area: diviso;
}

.sette {
    grid-area: sette;
}

.otto {
    grid-area: otto;
}

.nove {
    grid-area: nove;
}

.uguale {
    grid-area: uguale;
}

.quattro {
    grid-area: quattro;
}

.cinque {
    grid-area: cinque;
}

.sei {
    grid-area: sei;
}

.uno {
    grid-area: uno;
}

.due {
    grid-area: due;
}

.tre {
    grid-area: tre;
}

.zerro {
    grid-area: zerro;
}

.punto {
    grid-area: punto;
}

.ac {
    grid-area: ac;
}

.grid-contenitore {
    display: grid;
    grid-template-areas:

    'risultato risultato risultato risultato'
    'piu meno per diviso'
    'sette otto nove uguale'
    'quattro cinque sei uguale'
    'uno due tre uguale'
    'zerro punto ac uguale';
    gap: 1px;
    background-color: black;
    padding: 10px;
}

.grid-contenitore > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
  }
