* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    background-color:black
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1px;
    margin: 20px;
    border: 10px solid white;
    width: 400px;
    height: 400px;
}

.grid-container > div {
    text-align: center;
    background-color: white;
    font-size: 30px;
}

#item1 {
    grid-column: 1 / 5;
    text-align: end;
    background-color: black;
    color: white; 
}

.item9 {
    grid-column: 4;
    grid-row: 3 /span 4;
    background-color: red !important;
}

.item2, .item3, .item4, .item5 {
    background-color: rgb(35, 195, 195) !important
}